In [1]:
import pandas as pd
import numpy as np
from catboost import CatBoostRegressor, Pool
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import *
from lightgbm import LGBMRegressor
import pickle
import time
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [2]:
start = time.time()
with open('dicts/users_dict_all.pkl', 'rb') as f:
    users_dic = pickle.load(f)
with open('dicts/group_dict_all.pkl', 'rb') as f:
    groups_dic = pickle.load(f)
groups_dic['1']

{'sum': 241, 'number': 8}

In [3]:
for key in groups_dic:
    groups_dic[key]['avg'] = groups_dic[key]['sum'] / groups_dic[key]['number']

for key in tqdm(users_dic):
    users_dic[key]['friends_ages'] = [users_dic[str(fuid)]['age'] for fuid in users_dic[key]['friends'] if users_dic[str(fuid)]['age'] > 0]
    users_dic[key]['friends_avg_ages'] = np.mean(users_dic[key]['friends_ages'])
    users_dic[key]['groups_ages'] = [groups_dic[str(gid)]['avg'] for gid in users_dic[key]['groups'] if groups_dic[str(gid)]['number'] > 0]
    users_dic[key]['groups_avg_ages'] = np.mean(users_dic[key]['groups_ages'])

for key in tqdm(users_dic):
    users_dic[key]['friends_of_friends_avg_age'] = np.mean([users_dic[str(fuid)]['friends_avg_ages'] for fuid in users_dic[key]['friends'] if users_dic[str(fuid)]['friends_avg_ages'] > 0])
    users_dic[key]['friends_of_friends_median_age'] = np.median([users_dic[str(fuid)]['friends_avg_ages'] for fuid in users_dic[key]['friends'] if users_dic[str(fuid)]['friends_avg_ages'] > 0])
print(users_dic['1'])
print(time.time() - start)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112330.0), HTML(value='')))

E:\programs\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:3372: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
E:\programs\Anaconda\lib\site-packages\numpy\core\_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=112330.0), HTML(value='')))

{'age': 34, 'registered_year': 4, 'school_education': 35.0, 'graduation_1': nan, 'graduation_2': nan, 'graduation_3': nan, 'graduation_4': nan, 'graduation_5': nan, 'graduation_6': nan, 'graduation_7': nan, 'friends': [25478, 8920, 35884, 9155, 8221, 30276, 24231, 113282, 15975, 8623, 86326, 58325, 1286, 3897, 8112, 56700, 40083, 79883, 23937, 111914, 116849, 74104, 108059, 84485, 118301, 45396, 107129, 113595, 54910, 111764, 114837, 60301, 111436, 274, 74104, 67135, 1286, 119099, 35884, 89538, 103756, 21708, 353, 73169, 89826, 50497, 101936, 53319, 24788, 86277, 42464, 77473, 111914, 38642, 35428, 85654, 30379, 16812, 112614, 18528, 114583, 7784, 39397, 12052, 35385, 8920, 58325, 19068, 30526, 100966, 101796, 23315, 114319, 52867, 48794, 13682, 7910, 114266, 107077, 73083, 119464, 71012, 116849, 274, 23655, 94853, 118230, 58896, 116377, 70408, 76395, 13939, 43818, 238, 73169, 39758, 6535, 13781, 118230, 57314, 48794, 29886, 107129, 77449, 108059, 98579, 23315, 52506, 28241, 44860, 9772, 21226, 104678, 96691, 105868, 98579, 30651, 112715, 112614, 12052, 103846, 77938, 31923, 28241, 30788, 92413, 94623, 118040, 83194, 29905, 35385, 87806, 56510, 61143, 107077, 38642, 101936, 80360, 58379, 89687, 84485, 718, 84173, 52867, 56829, 87192, 30241, 54105, 29828, 36097, 21191, 16123, 33773, 113282, 47369, 13781, 112909, 80789, 57314, 64649, 80472, 52138, 119099, 73200, 238, 35428, 89687, 119688, 82772, 80360, 42466, 42466, 23936, 116090, 96691, 111080, 76931, 75026, 30241, 33164, 54180, 7940, 61907, 16540, 58191, 57912, 72082, 119912, 25639, 72082, 115591, 118301, 103846, 42464, 7019, 71616, 89538, 25175, 11012, 37421, 95169, 24660, 74985, 27725, 33164, 61464, 37421, 55074, 58670, 51462, 14491, 12295, 90340, 54180, 37207, 35128, 112711, 18528, 105868, 116090, 19094, 111080, 89826, 75896, 9155, 54384, 39397], 'groups': ['5368', '21991', '18087', '164827', '248095', '123214', '354973', '275246', '5338', '68816', '57942', '314997', '255327', '105122', '121467', '12605', '143266', '223102', '340514', '215638', '237199', '311359', '280499', '353481', '208371', '63388', '158922', '141442', '354930', '210221', '135921', '206489', '286048', '186586', '335464', '239059', '309592', '83316', '355154', '57929', '99761', '61512', '326220', '184741', '1905', '94348', '74129', '286038', '99765', '48833', '298803', '249546', '358513', '354929', '201094', '244535', '266111', '67076', '32672', '195652', '277989', '116136', '235824', '189573', '278736', '96120', '291548', '27399', '202868', '70538', '127347', '23654', '52476', '3647', '354928', '132427', '327938', '177398', '89047', '298637', '172027', '22009', '111213', '125244', '34501', '233607', '235388', '9004', '61607', '248070', '18036', '3543', '106986', '108732', '90661', '255281', '7419', '325959', '280888', '251745'], 'friends_ages': [17, 39, 34, 39, 35, 34, 32, 37, 38, 35, 34, 34, 34, 32, 36, 35, 30, 45, 26, 29, 29, 33, 31, 47, 43, 31, 34, 33, 34, 28, 34, 33, 27, 33, 26, 30, 35, 34, 30, 32, 33, 27, 31, 38, 39, 34, 34, 30, 34, 34, 31, 31, 37, 31, 37, 34, 31, 35, 34, 37, 30, 34, 31], 'friends_avg_ages': 33.317460317460316, 'groups_ages': [30.396551724137932, 37.111111111111114, 33.3780487804878, 32.40909090909091, 32.42045454545455, 32.616, 29.666666666666668, 34.77333333333333, 33.99679487179487, 30.363636363636363, 33.41796875, 36.41463414634146, 34.0, 33.73529411764706, 26.82, 37.51923076923077, 37.43333333333333, 36.666666666666664, 34.060500290866784, 37.13076923076923, 35.70168067226891, 35.2639405204461, 34.0, 33.0, 35.58620689655172, 35.23684210526316, 34.0, 36.43130990415335, 32.38972286374134, 35.72289156626506, 30.484615384615385, 35.42213114754098, 32.72527472527472, 33.03636363636364, 34.0, 34.74418604651163, 38.40994854202401, 45.4, 28.666666666666668, 41.107424960505526, 29.516949152542374, 33.75941422594142, 28.75, 35.555844155844156, 36.4, 35.92, 34.97794117647059, 34.06825025092004, 34.080128205128204, 38.16161616161616, 29.35, 34.0, 34.89254385964912, 37.203508771929826, 35.27088607594937, 33.935483870967744, 32.70106761565836, 32.723404255319146, 35.3639846743295, 37.36138613861386, 34.0, 31.403846153846153, 34.0, 34.0, 30.565217391304348, 21.098712446351932, 33.241379310344826, 28.35, 31.30057803468208, 27.83288409703504, 33.5, 32.0, 34.61658031088083, 31.22222222222222, 37.005076142131976, 20.930232558139537, 34.55555555555556, 35.39705882352941, 33.54545454545455, 32.02555003548616, 29.5625, 34.0, 36.666666666666664, 34.25, 34.109756097560975, 32.403225806451616, 35.925925925925924, 38.81395348837209, 30.416666666666668, 30.24590163934426, 28.983870967741936, 31.18421052631579, 30.916666666666668, 31.333333333333332, 31.940845070422537, 33.32203389830509, 33.888888888888886, 32.171821305841924, 33.22222222222222, 32.68108108108108], 'groups_avg_ages': 33.46281617718413, 'friends_of_friends_avg_age': 33.59340491808032, 'friends_of_friends_median_age': 33.63350785340314}
73.91745281219482

In [4]:
train_df = pd.read_csv('data_full/train.csv')
uids = train_df.uid.values

In [5]:
ages, reg_years, sch_ed, gr1 = [], [], [], []
gr2, gr3, gr4, gr5 = [], [], [], []
gr6, gr7, avg_fr, avg_gr = [], [], [], []
num_fr, num_gr, avg_reg_years = [], [], []
median_fr, median_gr = [], []
av_friends_of_friends = [] # средний возраст друзей друзей
median_friends_of_friends = [] # медианный возразт друзей друзей
av_groups_of_friends = [] # средний возраст групп друзей
median_groups_of_friends = []
for uid in tqdm(uids):
    uid = str(uid)
    av_friends_of_friends.append(users_dic[uid]['friends_of_friends_avg_age'])
    median_friends_of_friends.append(users_dic[uid]['friends_of_friends_median_age'])
    regs = [users_dic[str(fuid)]['registered_year'] for fuid in users_dic[uid]['friends'] if users_dic[str(fuid)]['registered_year'] > 0]
    avg_reg_years.append(np.average(regs) if len(regs) > 0 else np.nan)
    ages.append(users_dic[uid]['age'])
    reg_years.append(users_dic[uid]['registered_year'])
    sch_ed.append(users_dic[uid]['school_education'])
    gr1.append(users_dic[uid]['graduation_1'])
    gr2.append(users_dic[uid]['graduation_2'])
    gr3.append(users_dic[uid]['graduation_3'])
    gr4.append(users_dic[uid]['graduation_4'])
    gr5.append(users_dic[uid]['graduation_5'])
    gr6.append(users_dic[uid]['graduation_6'])
    gr7.append(users_dic[uid]['graduation_7'])
    avg_fr.append(np.average(users_dic[uid]['friends_ages']) if len(users_dic[uid]['friends_ages']) > 0 else np.nan)
    median_fr.append(np.median(users_dic[uid]['friends_ages']) if len(users_dic[uid]['friends_ages']) > 0 else np.nan)
    avg_gr.append(np.average(users_dic[uid]['groups_ages']) if len(users_dic[uid]['groups_ages']) > 0 else np.nan)
    median_gr.append(np.median(users_dic[uid]['groups_ages']) if len(users_dic[uid]['groups_ages']) > 0 else np.nan)
    num_fr.append(len(users_dic[uid]['friends']))
    num_gr.append(len(users_dic[uid]['groups']))
    av_groups_of_friends.append(np.average([users_dic[str(fuid)]['groups_avg_ages'] for fuid in users_dic[uid]['friends'] if users_dic[str(fuid)]['groups_avg_ages'] > 0]))
    median_groups_of_friends.append(np.median([users_dic[str(fuid)]['groups_avg_ages'] for fuid in users_dic[uid]['friends'] if users_dic[str(fuid)]['groups_avg_ages'] > 0]))
train = pd.DataFrame({
    'age': ages,
    'registered_year': reg_years,
    'school_ed': sch_ed,
    'gr_1': gr1,
    'gr_2': gr2,
    'gr_3': gr3,
    'gr_4': gr4,
    'gr_5': gr5,
    'gr_6': gr6,
    'gr_7': gr7,
    'num_friends': num_fr,
    'av_reg_year': avg_reg_years,
    'median_friends_age': median_fr,
    'avg_friends_age': avg_fr,
    'num_groups': num_gr,
    'avg_groups_age': avg_gr,
    'median_groups_age': median_gr,
    'av_friends_of_friends': av_friends_of_friends,
    'median_friends_of_friends': median_friends_of_friends,
    'av_groups_of_friends': av_groups_of_friends,
})
train

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=29469.0), HTML(value='')))

E:\programs\Anaconda\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)

,age,registered_year,school_ed,gr_1,gr_2,gr_3,gr_4,gr_5,gr_6,gr_7,num_friends,av_reg_year,median_friends_age,avg_friends_age,num_groups,avg_groups_age,median_groups_age,av_friends_of_friends,median_friends_of_friends,av_groups_of_friends
0,32,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,6.500000,35.5,36.428571,4,36.746115,37.847786,35.139755,35.258621,35.064582
1,30,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126,6.310345,33.0,34.068966,100,34.821975,34.390129,33.690534,33.860390,34.697590
2,51,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,4.333333,32.0,35.000000,0,NaN,NaN,37.949089,37.622742,34.340875
3,17,14,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0,NaN,NaN,16.833333,16.833333,NaN
4,33,5,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,4.166667,34.0,35.000000,0,NaN,NaN,34.549592,34.146341,33.978508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29464,34,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,8.692308,31.0,29.846154,0,NaN,NaN,33.957473,34.096908,31.289558
29465,39,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,7.400000,37.0,42.400000,0,NaN,NaN,33.587969,33.038462,35.261726
29466,44,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,7.666667,38.0,38.000000,0,NaN,NaN,35.976041,35.568182,35.788775
29467,38,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118,7.478261,38.0,39.304348,10,33.545356,33.461951,37.242517,37.210714,35.869598
29468,32,3,30.0,NaN,28.0,NaN,NaN,NaN,NaN,NaN,197,5.600000,34.0,35.640000,100,33.986114,33.585093,34.727745,34.431034,35.206267

In [6]:
X, y = train.drop('age', axis=1), train['age']

kf = KFold(n_splits=5, random_state=42, shuffle=True)
for i, (train_index, test_index) in enumerate(kf.split(train)):
    train_dataset = Pool(X.iloc[train_index], y.iloc[train_index])
    test_dataset = Pool(X.iloc[test_index], y.iloc[test_index])
    
    model = CatBoostRegressor(
        iterations = 350,
        depth = 8,
        random_seed = 1000
    )
    model.fit(train_dataset, eval_set=test_dataset, silent=True)
    preds = model.predict(test_dataset)
    print(mean_squared_error(y.iloc[test_index], preds, squared=False))
    with open(f'dicts/model_{i}.cbm', 'wb') as f:
        pickle.dump(model, f)
preds = model.predict(X)

6.307399501144355
6.3945388404043095
6.537816856105048
6.149106686696097
6.095908859791258

In [47]:
X, y = train.drop('age', axis=1), train['age']
kf = KFold(n_splits=5, random_state=42, shuffle=True)
for i, (train_index, test_index) in enumerate(kf.split(train)):
    X_train, y_train = X.iloc[train_index], y.iloc[train_index]
    X_test, y_test = X.iloc[test_index], y.iloc[test_index]
    model = LGBMRegressor(
        objective='regression',
        learning_rate=0.1,
        max_bin=1000
    )
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    print(mean_squared_error(y_test, preds, squared=False))
    with open(f'dicts/model_{i}.lgbm', "wb") as f:
        pickle.dump(model, f)

6.295148903715391
6.463224239240568
6.564780593945442
6.190186487922053
6.155565317479468